/* 
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    #imgg{width: 185px;}

    #image1 {
        background-color:aquamarine;
        background-repeat:no-repeat;
        background-size:cover;
        background-image: url('../Images/imglogin.png');
        
    }

     */


     .gradient-custom-2 {
        /* fallback for old browsers */
        
        background-color:aquamarine;
        background-repeat:no-repeat;
        background-size:cover;
        background-image: url('../Images/imglogin.png');
        /* padding-right: 300px; */
        }
        
        @media (min-width: 768px) {
        .gradient-form {
        height: 100vh !important;
        }
        }
        @media (min-width: 769px) {
        .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        }
        }

        #imgg{width: 185px;}